/* general stuff */

html {
    font-family: helvetica, arial, non-serif;
    font-size: 12px;
    font-weight: 200;
}
.instruments {
    padding: 25px;
    background-color: #ffffff;
    width: fit-content;
}
.instrument {
    margin-bottom: 25px;
    width: 1100px;
    position: relative;
    display: block;
}

/* piano specific stuff */

.piano {
    height: 200px;
    width: 1100px;
    background-color: #181818;
    padding: 3px 0 0;
}
.octave {
    height: 100%;
    float: left;
    position: relative;
}
.key {
    float: left;
}
.white-keys .key {
    background-color: #fafafa;
    width: 50px;
    height: 200px;
    border: 1px #333 solid;
    box-sizing: border-box;
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -3px 3px 0px #999 inset, 0 4px 5px -3px #888 inset;
}
.black-keys .key {
    background-color: #000;
    width: 30px;
    height: 130px;
    position: absolute;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 -4px 2px 3px #444 inset, 0 4px 5px -3px #000 inset;
}
.black-keys .key:nth-child(1) {
    left: 35px;
}
.black-keys .key:nth-child(2) {
    left: 85px;
}
.black-keys .key:nth-child(3) {
    left: 185px;
}
.black-keys .key:nth-child(4) {
    left: 235px;
}
.black-keys .key:nth-child(5) {
    left: 285px;
}
.piano .overlay {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.black-keys .included {
    border-radius: 0 0 5px 5px;
    background-color: rgb(110,0,0);
    box-shadow: 0 -4px 2px 3px rgb(175,0,0) inset, 0 4px 5px -3px rgb(110,0,0) inset;
}
.white-keys .included {
    border-radius: 0 0 10px 10px;
    background-color: rgb(255,194,194);
    box-shadow: 0 -3px 3px 0px rgb(194,0,0) inset, 0 4px 5px -3px rgb(130,0,0) inset;
}
.black-keys .included.root {
    background-color: rgb(1,3,0);
    box-shadow: 0 -5px 6px 4px rgb(111,200,110) inset, 0 4px 5px -3px rgb(110,0,0) inset;
    border: 1px solid rgb(60,160,60);
    border-top: 0px;
}
.white-keys .included.root {
    background-color: rgb(185,235,185);
    box-shadow: 0 -4px 10px 2px rgb(140,0,0) inset, 0 4px 5px -3px rgb(130,0,0) inset;
}


/* General fretted instrument stuff */

.fretted-instrument { 
    box-sizing: border-box;
}
.nut {
    box-sizing: border-box;
    float: left;
    width: 8px;
    height: 100%;
}
.fretboard {
    height: 100%;
    position: absolute;
}
.fret {
    width: 7px;
    height: 100%;
    float: left;
    box-sizing: border-box;
}
.f1{margin-left:112px;}.f2{margin-left:107px;}.f3{margin-left:102px;}
.f4{margin-left:97px;}.f5{margin-left:92px;}.f6{margin-left:87px;}
.f7{margin-left:81px;}.f8{margin-left:76px;}.f9{margin-left:71px;}
.f10{margin-left:66px;}.f11{margin-left:61px;}.f12{margin-left:56px;}
.strings {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: absolute;
    height: 100%;
    width: 100%;
}
.string {
    width: 100%;
    z-index: 1;
    position: relative;
    flex: 0 auto;
}
.fret-space {
    height: 100%;
    float: left;
    margin-left: 7px;
    position: relative;
    left: 1px;
    opacity: 0;
}
.s1{width:112px;}.s2{width:107px;}.s3{width:102px;}
.s4{width:97px;}.s5{width:92px;}.s6{width:87px;}
.s7{width:81px;}.s8{width:76px;}.s9{width:71px;}
.s10{width:66px;}.s11{width:61px;}.s12{width:56px;}
.notes {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.fretted-instrument .notes .string {
    background: none;
    box-shadow: none;
}
.fretted-instrument .notes .fret-space {
    background: none;
    box-shadow: none;
    text-align: center;
    opacity: 1;
}


/* bass specific stuff */

.bass {
    height: 170px;
    background-color: #332f19;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,1), inset 0 -2px 0 0 rgba(255,255,255,.2);
}
.bass .nut {
    background-color: #e1e1e1;
    box-shadow: inset -2px 0 4px 0px #777, inset 1px 0 4px 0 #ccc, inset 0 3px 3px -2px #ccc, inset 0 -3px 2px -1px #fafafa; 
}
.bass .fret {
    background-color: #bbb;
    box-shadow: inset 3px 0 1px 0 #9b9b9b, inset -2px 0 1px 0 #7e7e7e, inset 0 3px 2px 0 #b4b4b4, inset 0 -2px 2px 0 #eee;
}
.bass .string {
    background-image: repeating-linear-gradient(
        87deg, 
        #727272,
        #dadada 1px,
        #dadada 2px,
        #727272 4px
    );
    box-shadow: inset 0 1px 2px 0 #5b5b5b, inset 0 -3px 6px -2px #3c3c3c;
}
.bass .g-string { height: 5px; }
.bass .d-string { height: 6px; }
.bass .a-string { height: 8px; }
.bass .e-string { height: 11px; }
.bass .fret-space {
    background: rgba(255,0,0,.4);
    box-shadow: 0 0 6px 2px #fffbfb;
}
.bass .notes .fret-space {
    color: #fff;
}
.bass .notes .fret-space.included {
    background-color: rgba(255,0,0,.8);
    box-shadow: 0 0 9px 1px rgb(255,255,255);
}
.bass .notes .fret-space.included.root {
    background-color: rgba(255,0,0,.8);
    box-shadow: 0 0 9px 1px rgb(255,255,255);
}


/* guitar specific stuff */

.guitar {
    height: 200px;
    background-color: #e2b98c;
    box-shadow: inset 0 1px 0 0 rgba(0,0,0,1), inset 0 -2px 0 0 rgba(255,255,255,.2);
}
.guitar .nut {
    background-color: #e1e1e1;
    box-shadow: inset -2px 0 4px 0px #777, inset 1px 0 4px 0 #ccc, inset 0 3px 3px -2px #ccc, inset 0 -3px 2px -1px #fafafa; 
}
.guitar .fret {
    background-color: #bbb;
    box-shadow: inset 3px 0 1px 0 #9b9b9b, inset -2px 0 1px 0 #7e7e7e, inset 0 3px 2px 0 #b4b4b4, inset 0 -2px 2px 0 #eee;
}
.guitar .string {
    background: #8b8b8b;
    box-shadow: inset 0 1px 4px -2px #030303, inset 0 -3px 4px -3px #3f3f3f;
}
.guitar .string.wound {
    background-image: repeating-linear-gradient(
        87deg, 
        #727272,
        #dadada 1px,
        #dadada 2px,
        #727272 3px
    );
    box-shadow: inset 0 1px 2px 0 #5b5b5b, inset 0 -3px 6px -2px #3c3c3c;
}
.guitar .high-e-string { height: 3px; }
.guitar .b-string { height: 4px; }
.guitar .g-string { height: 5px; }
.guitar .d-string { height: 5px; }
.guitar .a-string { height: 6px; }
.guitar .e-string { height: 7px; }
.guitar .fret-space {
    background: rgba(255,120,120,.5);
    box-shadow: 0 0 6px 2px #ffecec;
}
.guitar .notes .fret-space {
    color: #000;
    font-weight: 400;
}
.guitar .notes .string.wound {
    background-image: none;
    box-shadow: none;
}
.guitar .notes .fret-space.included {
    background-color: rgba(255,0,0,.8);
    box-shadow: 0 0 6px 1px rgb(60,0,0);
}
.guitar .notes .fret-space.included.root {
    background-color: rgba(255,0,0,.8);
    box-shadow: 0 0 6px 1px rgb(60,0,0);
}